<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp from="deboertjes@gmail.com" deliveryMethod="Network" enableSsl="true">
        <network host="smtp.gmail.com" port="587"
            userName="deboertjes@gmail.com" password="ubice04"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>